body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    *{
        /* border: 1px solid black; */
    }
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}


.title{
    background-image: url(assets/panel.png);
    background-repeat:repeat;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 3rem;

    #titletext{
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: "Sedan SC",'Times New Roman', Times, serif;
    }

}


#navbar{
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */

    .navguides{
        /* border: 1px solid black; */
        height: 100%;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        *{  
            font-size: 15px;
            margin: 0 2px;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            *{
                margin: 0 15px;
            }

        }

    }
    .searchicon{
        margin-left: auto;
        margin-right: 15px;
        /* border: 1px solid black; */
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   
}


.navguides{
    *:hover{
        background-color: black;
        color: white;
    }
}


.searchicon{
    #searchbar{
        flex: 0.98;
        height: 50%;
        border: 0.2px solid rgba(0, 0, 0,0.6);
        border-radius: 5px;
        display: none;
        outline: none;
    }

    .icon{
       margin-left: auto;
    }


}
 

.headline{
    height: 40px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: rgb(243,243,243);
}


.headline{
    display: flex;


    .breakingnews{
        margin: 0 30px;
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        
    }
}


.breakingnews{
    *{
        margin: 0 3px;
    }
    #headlinetext{
        font-weight: bold;
        font-size: small;
        opacity: 80%;
    }
}

.breakingnews:hover{
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    #headlinetexet{
        opacity: 100%;
    }
} 

.breakingnewstext{ 
    display: flex;
    align-items: center;
     #breakingnewstexttext{
        font-size: small;
        margin: 0 5px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        
     }
}

.breakingnewstext:hover{
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


.dateandtime{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 10px;

    #dateandtimetext{
        margin: 0 10px;

    }
    
}

.content{
    width: 100%;
    /* border: 1px solid black; */
    height: calc(100% - 160px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.maincontent{
    /* border: 1px solid black; */
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;

    *{
        /* border: 1px solid black; */
        border-radius: 10px;
    }
}

.sidecontent{
    /* border: 1px solid black; */
    position: relative;
    top: 5%;
    width: 20%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.maincontent{
    .mcfirst{
        width: 43%;

        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .mcsecond{
        width: 25%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mcthird{
        width: 25%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .mctop{
            height: 47%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .mcbottom{
            height: 47%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.indicators{
    margin: auto 10px 30px 10px;
   *{
     margin: 1% 1%;
     display: inline-block;
     font-size: small;
    
   }
   
   .context{
    font-size: 120%;
   }
   .culture,
   .featured{
     background-color: black;
     color: white;
     border-radius: 20px;
     padding: 5px;
   }
}


.mcfirst,
.mcsecond,
.mctop,
.mcbottom {
    transition: transform 0.2s ease-in-out;
}

.mcfirst:hover,
.mcsecond:hover,
.mctop:hover,
.mcbottom:hover {
    transform: scale(1.01);
}

.sctop{
   /* border: 1px solid black; */
   height: 10%;
   display: flex;
   align-items: center;
   *{
    width: 50%;
    height: 100%;
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

   }
   
   #latest{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: black;
    color: white;
   }
   #popular{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 50%;
    background-color: rgb(243,243,243);
   }
 


}